.features {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #454545;
}

.objectives {
  font-size: 20px;
}

img {
  border: 1px solid #EEE;
  -webkit-box-shadow: 0 0 5px #DDD, 0 0 0 transparent;
  box-shadow: 0 0 5px #DDD, 0 0 0 transparent;
}

h1 {
  color: #454545;
}

.span12 {
  margin-top: 25px;
}